<div class="container mt-5">
    <div class="row">
        
            <div class="col-3">
                <p class="d-inline">Empleado N.- {{indice+1}}</p>
            </div>
            <div class="col-6">
                <p class="d-inline">{{empleadoDeLista.nombre}} {{empleadoDeLista.apellido}} {{empleadoDeLista.cargo}} {{empleadoDeLista.salario}}</p>
            </div>
            <a [routerLink]="['/actualiza', indice]" [queryParams]="{accion:'1'}">
                Actualiza
            </a>
            <a [routerLink]="['/actualiza', indice]" [queryParams]="{accion:'2'}">
                Eliminar
            </a>
    
        <app-caracteristicas-empleado (caracteristicasEmpleados)="agregarCaracteristica($event)"></app-caracteristicas-empleado>
        <ul style="list-style: none;">
            <li *ngFor="let array of arrayCaracteristica">{{array}}</li>
        </ul>
    
    </div>
</div>


